.bouton-orange{
	border: 1px #f28a45 solid;
	padding:3px 10px;
}
.majuscule{
	text-transform:uppercase;
}

.light{
	font-weight:lighter;
}

.interlettrage-double{
	letter-spacing:0.2em;
}

.bordure-bas-rouge{
	border-bottom:1px solid #cd000f;
}


.taille9{
	font-size:9px;	
}
.taille10{
	font-size:10px;	
}
.taille11{
	font-size:11px;	
}
.taille12{
	font-size:12px;	
}
.taille13{
	font-size:13px;	
}
.taille14{
	font-size:14px;	
}
.taille15{
	font-size:15px;	
}
.taille16{
	font-size:15px;	
}
.taille17{
	font-size:16px;	
}

.taille18{
	font-size:18px;	
}
.taille19{
	font-size:19px;	
}
.taille20{
	font-size:20px;	
}




.couleur-gris-fonce{
	color:#333333;
}
.couleur-gris-moyen{
	color:#898989;
}
.couleur-bleu{
	color:#0b4e6c;
}
.couleur-orange{
	color:#f28a45;
}
.couleur-blanc{
	color:#fff;
}




.alignement-gauche{
	text-align:left;
}
.alignement-droite{
	text-align:right;
}
.alignement-centrer{
	text-align:center;
}
.alignement-justifie{
	text-align:justify;
}

.interligne-double{
	line-height:1.4em;
}

.interligne-triple{
	line-height:1.7em;
}





.marge-menu{
	margin:0px 15px;
}

.marge-gauche-10{
	margin-left:10px;
}
.marge-gauche-30{
	margin-left:30px;
}

.marge-gauche-60{
	margin-left:60px;
}

.marge-droite-30{
	margin-right:30px;
}
.marge-droite-60{
	margin-right:60px;
}
.marge-haute-negative-20{
	margin-top:-0px;
}
.marge-haute-20{
	margin-top:20px;
}
.marge-bas-35{
	margin-bottom:35px;
}




.rollover-orange-bleu:link{
	text-decoration:none;
	color:#f28a45;
}
.rollover-orange-bleu:visited{
	text-decoration:none ;
	color:#f28a45;
}
.rollover-orange-bleu:hover{
	text-decoration:none;
	color:#0b4e6c;

}

.rollover-bleu-orange:link{
	text-decoration:none;
	color:#0b4e6c;
}
.rollover-bleu-orange:visited{
	text-decoration:none ;
	color:#0b4e6c;
}
.rollover-bleu-orange:hover{
	text-decoration:none;
	color:#f28a45;

}

.rollover-bleu-grisfonce:link{
	text-decoration:none;
	color:#0b4e6c;
}
.rollover-bleu-grisfonce:visited{
	text-decoration:none ;
	color:#0b4e6c;
}
.rollover-bleu-grisfonce:hover{
	text-decoration:none;
	color:#333333;

}

.rollover-blanc:link{
	text-decoration:none;
	color:#fff;
}
.rollover-blanc:visited{
	text-decoration:none ;
	color:#fff;
}
.rollover-blanc:hover{
	text-decoration:underline;
	color:#fff;

}